ksiegarnia.dtd

<!ELEMENT księgarnia (info,tytuł_strony,dział)>
<!--
<!ELEMENT info ()>
<!ELEMENT tytuł_strony>
-->

<!ELEMENT autor (książka)>
<!ATTLIST autor
          id CDATA #REQUIRED
>

<!ELEMENT dział (tytuł, opis, data_publikacji, stron, cena, waluta)>
<!ATTLIST dział
          id CDATA #REQUIRED
>

<!ATTLIST opis
          numer CDATA #REQUIRED
>