ksiegarnia.dtd

<!ELEMENT księgarnia (info,modyfikacja,dział+)>

<!ELEMENT info (#PCDATA)>
<!ELEMENT modyfikacja (info, ukryta_wiadomość)>
<!ELEMENT ukryta_wiadomość (#PCDATA)>


<!ELEMENT dział (#PCDATA | autor)*>
<!ATTLIST dział
          id CDATA #REQUIRED
>

<!ELEMENT autor (#PCDATA | książka)*>
<!ATTLIST autor
          id CDATA #REQUIRED
          id2 CDATA #IMPLIED
>

<!ELEMENT książka (tytuł, opis, data_publikacji, stron, cena)>
<!ATTLIST książka
          id CDATA #REQUIRED
>

<!ELEMENT tytuł (#PCDATA)>

<!ELEMENT opis (#PCDATA)>

<!ELEMENT data_publikacji (#PCDATA)>
<!ELEMENT stron (#PCDATA)>
<!ELEMENT cena (#PCDATA)>
<!ATTLIST cena 
          waluta (PLN|USD) "PLN"
>

